@use '../../styles/leave-approval-dialog';

.textarea-field ::ng-deep {
  .mat-mdc-text-field-wrapper {
    align-items: flex-start;
  }

  textarea.mat-mdc-input-element {
    min-height: 5rem;
    padding-top: 0.5rem;
    resize: vertical;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: block !important;
  }
}
